.wraper {
    color: rgb(212, 10, 10);
}
p {
    margin: 10px;
    padding: 10px;
    background: rgb(79, 79, 195);
    color: white;
    border-radius: 10px;
    max-width: 300px;
    text-align: center;
}

/* .colored {
    color: rgb(114, 246, 114);
    background: rgb(11, 82, 113);
} */

/* .decoration {
    text-decoration: line-through;
}
.colored {
    color: red;
}
.bold {
    font-weight: 700;
} */

/* .Visibility {
    display: none;
} */

/* .borderRed {
    border: 1px solid red;
} */

.colored {
    background-color: green;
}
.colored2 {
    background-color: rgb(46, 11, 125);
}


.uppercase {
    text-transform: uppercase;
}

#elem {
    width: 200px;
    height: 200px;
}

ul {
	padding: 30px;
	border: 1px solid rgb(97, 112, 0);
}
li {
	list-style-type: none;
	margin-bottom: 20px;
	border: 1px dashed black;
}

#elem1 {
    background-color: green;
    padding: 10px;
    width: 200px;
    height: 40px;
}
#elem2 {
    background-color: blue;
    padding: 10px;
}
#elem3 {
    background-color: red;
    padding: 10px;
}

div, ul, li {
	padding: 20px;
}

div {
	border: 1px solid red;
}

#block:not(.active) {
	display: none;
}








